
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  
  height: 100vh;
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: 12vh 1fr;
  grid-template-areas: 
  'h h'
  'n c';
  margin: auto 10vw;
}
.header{
  background-color: #61dafb;
  grid-area: h;
  margin: 2vh 0.5vw 0.5vh 0.5vw;
  border-radius: 10px;
  min-width: 20px;
}
.logSite{
  padding: 0.4vw 2vw;
}
.logSite img{
  max-width: 17vh;
  max-height: 3vw;
}
.nav{
  display: flex;
  flex-direction: column;
  background-color:#8ccee0;
  grid-area: n;
  margin: 0.5vh 0.5vw 0.5vh 0.5vw;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  height:auto;
  max-height: 50%;
}
.navButton{
  padding: 1.5vh
}
.navButton a{
  text-decoration: none;
}
.content{
  background-color:#c1e3ec;
  grid-area: c;
  margin: 0.5vh 0.5vw 0.5vh 0.5vw;
  border-radius: 10px;
}
.myProfile{
  height: 20%;
  margin: 20px; 
  display: flex;
}
.contentIcon{
   border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  margin: 30px;
}
.contentIcon img{
  height: 20vh;
  max-width: 100%;
  max-height: 100%;
  
}
.createP{
  margin:1% 5%;
}
.textPost{
  width: 90%;
  margin: 0 5%;
}
.button{
  margin: 0px 5%;
display: flex;
justify-content: end;
}