
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  
  height: 100vh;
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: 12vh 1fr;
  grid-template-areas: 
  'h h'
  'n c';
  margin: auto 10vw;
  position: relative;
}
.header{
  background-color: #61dafb;
  grid-area: h;
  margin: 2vh 0.5vw 0.5vh 0.5vw;
  border-radius: 10px;
  min-width: 20px;
 
}
.nav{
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color:#8ccee0;
  grid-area: n;
  margin: 0.5vh 0.5vw 0.5vh 0.5vw;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  max-height: 90vh;
}
.content{
  background-color:#c1e3ec;
  grid-area: c;
  margin: 0.5vh 0.5vw 0.5vh 0.5vw;
  border-radius: 10px;
}

